
@import (css, inline) '/css-default/null.css';
@import (css, inline) '/css-default/box-sizing.css';
@import (css, inline) '/css-default/moz-focus-inner.css';
@import (css, inline) '/css-default/webkit-tap-highlight-color.css';

@import (reference) '/node_modules/axiom/axiom/index';

@width: 900px;
@width2: 400px;

@tone--white: White;
@tone--white-shaded: WhiteSmoke;
@tone--orange: #fcce6c;

@tone--border: #f2f2f2;

html, body
{
	.wh(100%; 100%);
}

body
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;

	background: @tone--white-shaded;
}

.App
{
	.wh(@width; 100%);
	.margin(auto);
	.flex(column);

	border: 1px solid #f2f2f2;
	border-width: 0 1px;

	background: @tone--white;

	.Content
	{
		flex: 1 1 100%;
		overflow-y: auto;
	}
}

.Header
{
	flex: 0 0 auto;

	background: @tone--orange;

	.flex;
	& > *
	{
		padding: 1em;
	}

	h1
	{
		.grow;
	}

	.logout
	{
		.pointer;
	}
}

.List
{
	.item
	{
		.flex;
		align-items: center;

		padding: .5em;

		&:nth-child(odd)
		{
			background: @tone--white-shaded;
		}
	}

	.pic
	{
		.wh(50px; eq);
		background-size: 100%;
	}

	.name
	{
		.grow;
		.pad;

		.bold;
	}

	.will-go
	{
		.pad;
		.uppercase;
	}

	.drink
	{
		.pad;
		.bold;
	}

	.pad ()
	{
		padding: 0 .25em;
	}
}

.Confirm
{
	.Centered;

	.controls
	{
		justify-content: center;
	}

	.Button
	{
		margin: 0 .125em;
	}
}

.Poll
{
	.Centered;

	.controls
	{
		.flex;
	}

	.row
	{
		.block;

		margin: 1em 0;

		i
		{
			.block;

			margin: .5em 0;
		}
	}

	.Select
	{
		border: 5px solid transparent;
		border-radius: 3px;

		&.is--error
		{
			border-color: Salmon;
		}
	}

	select
	{
		.block;
		.wh(100%);

		font-size: 1.25em;
		padding: .5em;

		border: 1px solid @tone--border;
		.tone(Black; @tone--white);

		.pointer;

		option
		{
			font-size: .8em;
			background: Orange;

			.tone(#333; @tone--white);

			.pointer;

			&.void
			{
				.italic;
				color: #555;
			}
		}
	}
}

.Centered ()
{
	.wh(100%; 100%);
	.flex(center);

	.box
	{
		.wh(@width2);

		font-size: .85em;
		padding: 2em;

		background: @tone--white-shaded;
	}

	.text
	{
		line-height: 1.35;

		&.error
		{
			color: FireBrick;
		}
	}

	.controls
	{
		.flex;

		margin: 3em 0 1em;
	}
}

.Button
{
	.inline-block;

	border-radius: 3px;
	padding: .8em 1em;

	background: @tone--orange;

	.pointer;
}
