doctype html
html
	head
		meta(charset='utf-8')
		title party-vk

		link(rel='stylesheet' href=asset('index.css'))
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')

		script(src=asset('index.js'))

	body
		#app
