
.App
	.Header
		h1 Hello, {{ auth.userinfo.recent_name }}.
		.logout(@click='logout') Logout

	.Content

		.List(v-if='auth.userinfo.is_leader')
			.item(v-for='person in list')
				span.pic(:style='bg(person)')
				span.name {{ person.recent_name }}
				span.will-go {{ person.will_go | yesno }}
				span.drink {{ person.drink | tea }}

		template(v-if='poll')
			.Confirm(v-if='poll.answered')
				.box
					.text You've already participated in party poll. Do you want to re-vote?
					.controls
						button.Button(@click='revote') Proceed to re-voting

			.Poll(v-if='! poll.answered')
				.box
					.text Choose your preferences.
					.text.error(v-show='error.is') You got some errors.
					.form
						label.row
							i Will you go?
							.Select(:class='{ "is--error": errored("will_go") }')
								select(v-model='form.will_go')
									option(:value='null').void choose…
									option(:value='true')  Yes
									option(:value='false') No

						label.row
							i What drink do you prefer?
							.Select(:class='{ "is--error": errored("drink") }')
								select(v-model='form.drink')
									option(:value='null').void choose…
									template(v-for='drink in poll.drinks')
										option(:value='drink.id') {{ drink.name }}

						.controls
							button.Button(@click='submit') Submit
